<!doctype html>
<html>
<head>
    <meta>
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="chercher un étudiant ou une classe" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-2" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <a href="classrooms.html">Voir toutes les classes</a>
  <a href="students.html">Voir tous les étudiants</a>
        
  <h1 id="title">Liste des étudiants</h1>
  <table id="students">
          <tr>

            <td id="firstName">Prénom</td>
            <td id="lastName">Nom</td>
          </tr>

        </table>
        <!--
        <div class="card-header">
        </div>
        <ul class="list-group list-group-flush" id="classrooms_ul">
          <li class="list-group-item">{{niveau}} {{id_students}}</li>
          <li class="list-group-item">{{niveau}} {{id_students}}</li>
          <li class="list-group-item">{{niveau}} {{id_students}}</li>

        </ul>
        -->
</body>
<script>
  
const  urlApi = "https://bebimnux54.execute-api.eu-west-3.amazonaws.com/student";
fetch(urlApi, {method: "GET"})
.then((resp) => resp.json())
.then(function(data) {
  let callClassrooms = document.getElementById("students");
  console.log(data);  
  
  for (let i = 0; i < data.length ; i++) {
    let putClassrooms = document.createElement("tr");
    putClassrooms.innerHTML = '<td><a href="profileStudent.html?id='+data[i]['id']+'">'+'</a></td><td>'+data[i]['firstName']+'</td><td>'+data[i]['lastName']+'</td><td><button>'+'<a href="profileStudent.html?id='+data[i]['id']+'">Voir la fiche de l"etudiant'+'</button></a></td>';
    callClassrooms.appendChild(putClassrooms);

}


})


</script>

<style scoped>
  #title {
    color: gray;
    font-size: 20px;
  }
  #firstName {
    font-weight: bold;
  }
  #lastName {
    font-weight: bold;
  }

  #id {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: black;
  }
  </style>

</html>